<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow any file that actually exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect everything to public/index.php
    RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
